version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: google_full_control_fe
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge